<nav id="nav">
    <div class="title"><button>MusicShop</button></div>
    <div class="nav-menu">
        <button class="nav-item"><a href="{{path("categorie",{"categorie":"Instruments"})}}"><h3>Instruments</h3></a></button>
        <button class="nav-item"><a href="{{path("categorie",{"categorie":"Accessoires"})}}"><h3>Accessoires</h3></a></button>
        <button class="nav-item"><a href="{{path("categorie",{"categorie":"CD"})}}"><h3>CD</h3></a></button>
        <button class="nav-item"><a href="{{path("categorie",{"categorie":"Vinyles"})}}"><h3>Vinyles</h3></a></button>
        <button class="nav-item"><a href="{{path("homepage")}}"><h3>Tous les produits</h3></a></button>
        <button class="nav-item"><a href="{{path("panier")}}"><h3>Panier</h3></a></button>
    </div>
    <div class="account">
    {% if app.user %}
        <button id="navbar-button">{{app.user.username}}</button>
        <div id="navbar-menu">
            <ul>
                <li><button><a href="{{path("account_logout")}}">Déconnexion</a></button></li>
                {% if is_granted("ROLE_ADMIN") %}
                    <li><button><a href="{{path("admin_dashboard_index")}}">Administration</a></button></li>
                {% endif %}
                <li><button><a href="{{path("commandes")}}">Mes commandes</a></button></li>
                <li><button><a href="{{path("account_index")}}">Mon compte</a></button></li>
            </ul>
        </div>
    {% else %}
        <button id="navbar-button"><h1>Connexion</h1></button>
        <div id="navbar-menu">
            <ul>
                <li><button><a href="{{path("account_register")}}">Inscription</a></button></li>
                <li><button><a href="{{path("account_login")}}">Connexion</a></button></li>
            </ul>
        </div>
    {% endif %}
    </div>
</nav>
<button id="nav-hider"><i class="fas fa-chevron-left"></i></button>