{% extends 'admin/base.html.twig' %}
{% block title %}Modifier photo{% endblock %}

{% block body %}
    <div class="container">
        <h1>Modifier la de {{ produit.nom }}</h1>
        <img src="/uploads/{{ produit.photo }}" alt="photo de {{ produit.nom }}">
        {{form_start(myForm)}}
            {{form_widget(myForm)}}
            <button type="submit" class="btn btn-success float-right">Modifier la photo</button>
        {{form_end(myForm)}}
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $('.custom-file input').change(function (e) {
            var files = [];
            for (var i = 0; i < $(this)[0].files.length; i++) {
                files.push($(this)[0].files[i].name);
            }
            $(this).next('.custom-file-label').html(files.join(', '));
        });
    </script>
{% endblock %}