{% extends 'admin/base.html.twig' %}

{% block title %}Les produits{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1 class="my-5">Gestion des produits</h1>
        <a href="{{path('admin_produits_nouveau')}}" class="btn btn-success my-3">Nouveau</a>
         <h2>Recherche</h2>
  <input class="form-control" id="myInput" type="text" placeholder="Search..">
  <br>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Catégorie</th>
                    <th>Prix</th>
                    <th>Vidéo</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for produit in pagination.data %}
                    <tr>
                        <td>{{produit.id}}</td>
                        <td>{{produit.nom}}</td>
                        <td>{{produit.categorie}}</td>
                        <td>{{produit.prix}}&euro;</td>
                        <td>{{produit.video}}</td>
                        <td class="text-center">
                            <a href="{{ path('admin_produits_edit', {'id':produit.id}) }}" class="btn btn-primary"><i class="fas fa-edit"></i></a>
                            <a href="{{ path('admin_produits_delete', {'id':produit.id}) }}" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {{ pagination.display() }}
    </div>
{% endblock %}
{% block javascripts %}
{% endblock %}