{% extends 'base.html.twig' %}

{% block title %}Mon panier{% endblock %}

{% block body %}
<div class="content">
    <div class="container">
        <div class="commande">
            <h1>Mon panier</h1>
            <table cellspacing="0" class="commandeTable">
                <thead>
                    <tr>
                        <th>Photo</th>
                        <th>Nom</th>
                        <th>Prix</th>
                        <th>Quantité</th>
                        <th>Total</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in panier %}
                        <tr>
                            <td class="commandePhoto"><img src="{{asset("/uploads/" ~ item.produit.photo)}}" alt="photo de {{item.produit.nom}}"></td>
                            <td>{{item.produit.nom}}</td>
                            <td>{{item.produit.prix}} €</td>
                            <td>{{item.quantite}}</td>
                            <td>{{item.quantite * item.produit.prix}} €</td>
                            <td>
                                <a href="{{path("panier_retirer",{"produit":item.produit.id})}}" class="boutonRetirer">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    {% if panier|length == 0 %}
                        <tr>
                            <td colspan="6">
                                <h2>Vous n'avez pas ajouté de produit à votre panier</h2>
                            </td>
                        </tr>
                    {% endif %}
                </tbody>
                <tfoot>
                    <tr class="total">
                        <td colspan="3">Total :</td>
                        <td>{{total}} €</td>
                        <td></td>
                        <td></td>
                    </tr>
                </tfoot>
            </table>
            {% if app.user %}
                <a href="{{path("panier_commander")}}" class="boutonCommander">
                    <button>
                        <i class="fas fa-check"></i> Commander
                    </button>
                </a>
            {% else %}
                <h2>Connectez vous afin de pouvoir commander!</h2>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
