{% extends 'base.html.twig' %}

{% block title %}{{produit.nom}}{% endblock %}

{% block body %}
    <div class="content">
        <div class="container">
            <h1>Produit : {{produit.nom}}</h1>
            <div class="infoProduit">
                <div class="coverImg">
                    <img src="{{asset("/uploads/" ~ produit.photo)}}" alt="photo de {{produit.nom}}">
                </div>
                <div class="info">
                    <h3>Prix : {{produit.prix}} €</h3>
                    <h3>Note moyenne : {{produit.avgNote}}</h3>
                    <button><a href="{{path("panier_ajouter",{"produit":produit.id})}}">Ajouter</a></button>
                </div>
            </div>

            <h2>Commentaires</h2>
            <div>
                <div class="commentaires">
                    {% for commentaire in produit.commentaires %}
                        <div class="commentaireCard">
                            <div class="infoTexte">
                                <span class="user">{{commentaire.user.email}}</span>
                                <span>
                                <span class="date">{{commentaire.date|date("H:i:s d-m-Y")}}</span>
                            </div>
                            <div class="messageTexte">
                                <p>{{commentaire.message}}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="commentaireForm">
                    {% if formV %}
                        {{form_start(myForm)}}
                        {{form_widget(myForm)}}
                        <button type="submit" >Commenter</button>
                        {{form_end(myForm)}}
                    {% else %}
                        <h1>{{message}}</h1>        
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}